﻿@model IEnumerable<ExemploCRUD.Models.Categoria>

@{
    if (Session["usuarioTipo"] == null || (Session["usuarioTipo"] != null && Session["usuarioTipo"].ToString() == "0"))
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Nova categoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Codigo }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Codigo })
        </td>
    </tr>
}

</table>
