﻿@model IEnumerable<ExemploCRUD.Models.Sobre>

@{
    if (Session["usuarioTipo"] == null || (Session["usuarioTipo"] != null && Session["usuarioTipo"].ToString() == "0"))
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "Sobre";
}

<h2>Sobre</h2>

<p>
    <!--@Html.ActionLink("Create New", "Create")-->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Codigo })
        </td>
    </tr>
}

</table>
