﻿@using Microsoft.AspNet.Identity

<style type="text/css">
    .bemvindo {
        padding-top: 14px;
        font-size: 15px;
        padding-right: 10px;
    }
</style>

@{ 
    if (Session["usuarioCodigo"] == null)
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("REGISTRAR", "Create", "Usuario", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("LOG IN", "Login", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="bemvindo">Olá, @Session["usuarioNome"]!</li>
            <li>@Html.ActionLink("SAIR", "Logout", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
}