﻿@model IEnumerable <ExemploCRUD.Models.Produto>
@using ExemploCRUD.Models;
<style type="text/css">
    .caixas {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-left: 70px;
        margin-top: 10px;
    }
</style>
@{ 
    ContextoCategoria categoria = new ContextoCategoria();
    ContextoPlataforma plataforma = new ContextoPlataforma();
    ContextoProduto p = new ContextoProduto();
    IEnumerable<Produto> produtos = p.Produtos;
    ViewBag.Title = "Início";
}

<br />
<h2>Últimos Leilões</h2>
<hr>
    @foreach (var item in produtos.Reverse())
    {
        <div class="col-md-3 caixas">
            <p style="margin-left: auto; margin-right: auto;"><img src="~/Content/Imagens/$_58.JPG" style="width: 100px; height: 180px; float: left; padding-top: 18px; padding-right: 10px; padding-bottom: 3px;" /></p>
            <p style="font-weight: bold;">@Html.DisplayFor(modelItem => item.Titulo)</p>
            <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
            <p><span style="font-weight: bold;">Categoria: </span> @{
                int ca = item.Categoria;
                var categoriaI = categoria.Categorias.Where(x => x.Codigo == ca).FirstOrDefault();
                if (categoriaI != null)
                {
                    @categoriaI.Titulo
                }
            }</p>
            <p><span style="font-weight: bold;">Plataforma: </span> @{
                int pl = item.Plataforma;
                var plataformaI = plataforma.Plataformas.Where(x => x.Codigo == pl).FirstOrDefault();
                if (plataformaI != null)
                {
                    @plataformaI.Titulo
                }
            }</p>
            <p><span style="font-weight: bold;">Lance atual: </span>R$ @Html.DisplayFor(modelItem => item.Lance)</p>

            <p>@Html.ActionLink("Dar Lance!", "../Produto/EditLeiloes", new { id = item.Codigo }, htmlAttributes: new { @class = "btn btn-success btn-sm" })</p>
        </div>
    }
<div style="float:none; clear: both; margin-bottom: 10px;">
</div>