﻿@model ExemploCRUD.Models.Produto
@using ExemploCRUD.Models;

@{
    ContextoCategoria c = new ContextoCategoria();
    var categorias = c.Categorias;

    ContextoPlataforma p = new ContextoPlataforma();
    var plataformas = p.Plataformas;

    if (Session["usuarioCodigo"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "Cadastrar leilão";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Leilão</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Imagem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Imagem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Imagem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="Categoria">
                    @{ foreach (var item in categorias) {
                           <option value="@Html.DisplayFor(modelItem => item.Codigo)">@Html.DisplayFor(modelItem => item.Titulo)</option>
                       }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Plataforma, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="Plataforma">
                    @{ foreach (var item in plataformas)
                        {
                            <option value="@Html.DisplayFor(modelItem => item.Codigo)">@Html.DisplayFor(modelItem => item.Titulo)</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Plataforma, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
</div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
