﻿@model ExemploCRUD.Models.Produto
@using ExemploCRUD.Models;
@{
    Contexto db = new Contexto();
    ContextoCategoria categoria = new ContextoCategoria();
    ContextoPlataforma plataforma = new ContextoPlataforma();

    if (Session["usuarioCodigo"] == null)
    {
        Response.Redirect("~/Home/Index");
    }

    if (Model.Usuario.ToString() != Session["usuarioCodigo"].ToString())
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "Excluir leilão";
}

<h2>Excluir</h2>

<h3>Deseja mesmo excluir esse registro?</h3>
<div>
    <h4>Leilão</h4>
    <hr />
    <img src="~/Content/Imagens/$_58.JPG" style="width: 220px; height: 300px; float: left;" />
    <div style="float: left;">
        <dl class="dl-horizontal">
            <dt>
                
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Imagem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>

            <dd>
                @{
                    var categoriaI = categoria.Categorias.Where(x => x.Codigo == Model.Categoria).FirstOrDefault();
                    if (categoriaI != null)
                    {
                        @categoriaI.Titulo
                    }
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Plataforma)
            </dt>

            <dd>
                @{
                    var plataformaI = plataforma.Plataformas.Where(x => x.Codigo == Model.Plataforma).FirstOrDefault();
                    if (plataformaI != null)
                    {
                        @plataformaI.Titulo
                    }
                }
            </dd>

            <dt>
                Leiloeiro
            </dt>

            <dd>
                @{
                    var leiloadorI = db.Usuarios.Where(x => x.Codigo == Model.Usuario).FirstOrDefault();
                    if (leiloadorI != null)
                    {
                        @leiloadorI.Nome
                    }
                }
            </dd>

            <dt>
                Vencedor até o momento
            </dt>

            <dd>
                @{
                    var usuarioV = db.Usuarios.Where(x => x.Codigo == Model.Usuario_vencedor).FirstOrDefault();
                    if (usuarioV != null)
                    {
                        @usuarioV.Nome
                    }
                }
            </dd>

            <dt>
                Maior lance
            </dt>

            <dd>
                R$ @Html.DisplayFor(model => model.Lance)
            </dd>

        </dl>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="clear: both; padding-top: 10px;">
                <input type="submit" value="Excluir" class="btn btn-default" /> |
                @Html.ActionLink("Voltar", "Index")
            </div>
        }
    </div>
