﻿@model ExemploCRUD.Models.Produto
@using ExemploCRUD.Models;

@{
    Session["maiorLance"] = Model.Lance;
    Contexto db = new Contexto();
    ContextoCategoria categoria = new ContextoCategoria();
    ContextoPlataforma plataforma = new ContextoPlataforma();

    if (Session["usuarioCodigo"] == null)
    {
        Response.Redirect("~/Usuario/Login");
    }

    if (Model.Usuario.ToString() == Session["usuarioCodigo"].ToString())
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "Dar Lance";
}

<h2>Dar Lance</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Codigo)

        <img src="~/Content/Imagens/$_58.JPG" style="width: 220px; height: 300px; float: left;" />
        <div style="float: left;">
        <dl class="dl-horizontal">
            <dt>
                
            </dt>
            
            <dd>
                @Html.HiddenFor(model => model.Imagem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
                @Html.HiddenFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
                @Html.HiddenFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>

            <dd>
                @{
                    var categoriaI = categoria.Categorias.Where(x => x.Codigo == Model.Categoria).FirstOrDefault();
                    if (categoriaI != null)
                    {
                        @categoriaI.Titulo
                    }
                }
                @Html.HiddenFor(model => model.Categoria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Plataforma)
            </dt>

            <dd>
                @{
                    var plataformaI = plataforma.Plataformas.Where(x => x.Codigo == Model.Plataforma).FirstOrDefault();
                    if (plataformaI != null)
                    {
                        @plataformaI.Titulo
                    }
                }
                @Html.HiddenFor(model => model.Plataforma)
            </dd>

            <dt>
                Leiloeiro
            </dt>

            <dd>
                @{
                    var leiloadorI = db.Usuarios.Where(x => x.Codigo == Model.Usuario).FirstOrDefault();
                    if (leiloadorI != null)
                    {
                        @leiloadorI.Nome
                    }
                }
                @Html.HiddenFor(model => model.Usuario)
            </dd>

            <dt>
                Vencedor até o momento
            </dt>

            <dd>
                @{
                    var usuarioV = db.Usuarios.Where(x => x.Codigo == Model.Usuario_vencedor).FirstOrDefault();
                    if (usuarioV != null)
                    {
                        @usuarioV.Nome
                    }
                }
                @Html.HiddenFor(model => model.Usuario_vencedor)
            </dd>

            <dt>
                Maior lance
            </dt>

            <dd>
                R$ @Html.DisplayFor(model => model.Lance)
            </dd>

        </dl>
        <div style="margin-left: 100px;">
        <div class="form-group">
            @Html.LabelFor(model => model.Lance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lance, new { htmlAttributes = new { @class = "form-control" } })
                <p class="text-danger">@ViewBag.ErrorMessage</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dar Lance" class="btn btn-default" />
            </div>
        </div>
        </div>
        </div>
    </div>
                        }

<div style="clear: both;">
    @Html.ActionLink("Voltar", "IndexLeiloes")
</div>