﻿@model ExemploCRUD.Models.Produto
@using ExemploCRUD.Models;

@{

    ContextoCategoria c = new ContextoCategoria();
    var categorias = c.Categorias;

    ContextoPlataforma p = new ContextoPlataforma();
    var plataformas = p.Plataformas;

    if (Session["usuarioCodigo"] == null)
    {
        Response.Redirect("~/Usuario/Login");
    }

    if (Model.Usuario.ToString() != Session["usuarioCodigo"].ToString())
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "Editar leilão";
    }

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Leilão</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Codigo)
        @Html.HiddenFor(model => model.Usuario)
        @Html.HiddenFor(model => model.Usuario_vencedor)
        @Html.HiddenFor(model => model.Lance)

        <img src="~/Content/Imagens/$_58.JPG" style="width: 220px; height: 300px; float: left;" />
        <div style="float: left; margin-left: 20px;">
            <div class="form-group">
                @Html.LabelFor(model => model.Imagem, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Imagem, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Imagem, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-11">
                    <select class="form-control" name="Categoria">
                        @{ foreach (var item in categorias)
                            {
                                if (Model.Categoria == item.Codigo)
                                {
                                    <option value="@Html.DisplayFor(modelItem => item.Codigo)" selected="selected">@Html.DisplayFor(modelItem => item.Titulo)</option>
                                }
                                else
                                {
                                    <option value="@Html.DisplayFor(modelItem => item.Codigo)">@Html.DisplayFor(modelItem => item.Titulo)</option>
                                }
                            }
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Plataforma, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-11">
                    <select class="form-control" name="Plataforma">
                        @{ foreach (var item in plataformas)
                            {
                                if (Model.Plataforma == item.Codigo)
                                {
                                    <option value="@Html.DisplayFor(modelItem => item.Codigo)" selected="selected">@Html.DisplayFor(modelItem => item.Titulo)</option>
                                }
                                else
                                {
                                    <option value="@Html.DisplayFor(modelItem => item.Codigo)">@Html.DisplayFor(modelItem => item.Titulo)</option>
                                }
                            }
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.Plataforma, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--<div class="form-group">
            @Html.LabelFor(model => model.Lance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lance, "", new { @class = "text-danger" })
            </div>
        </div>-->

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-default" />
                </div>
            </div>
            </div>
            </div>
}

<div style="clear: both;">
    @Html.ActionLink("Voltar", "Index")
</div>
