﻿@model IEnumerable<ExemploCRUD.Models.Produto>
@using ExemploCRUD.Models;
@{
    Contexto db = new Contexto();
    Usuario u = new Usuario();

    ContextoCategoria categoria = new ContextoCategoria();
    ContextoPlataforma plataforma = new ContextoPlataforma();

    if (Session["usuarioCodigo"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "Leilões Vencidos";
}

<h2>Leilões vencidos até o momento</h2>

<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plataforma)
        </th>
        <th>
            Leiloeiro
        </th>
        <th>
            Vencedor até o momento
        </th>
        <th>
            Maior lance
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Usuario_vencedor.ToString() == Session["usuarioCodigo"].ToString())
        {
            <tr>
                <td>
                    <img src="~/Content/Imagens/$_58.JPG" style="width: 70px; height: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @{
                        int ca = item.Categoria;
                        var categoriaI = categoria.Categorias.Where(x => x.Codigo == ca).FirstOrDefault();
                        if (categoriaI != null)
                        {
                            @categoriaI.Titulo
                        }
                    }
                </td>
                <td>
                    @{
                        int pl = item.Plataforma;
                        var plataformaI = plataforma.Plataformas.Where(x => x.Codigo == pl).FirstOrDefault();
                        if (plataformaI != null)
                        {
                            @plataformaI.Titulo
                        }
                    }
                </td>
                <td>
                    @{
                        int p = item.Usuario;
                        var leiloadorI = db.Usuarios.Where(x => x.Codigo == p).FirstOrDefault();
                        if (leiloadorI != null)
                        {
                            @leiloadorI.Nome
                        }
                    }
                </td>
                <td>
                    @{
                        int v = item.Usuario_vencedor;
                        var usuarioV = db.Usuarios.Where(x => x.Codigo == v).FirstOrDefault();
                        if (usuarioV != null)
                        {
                            @usuarioV.Nome
                        }
                    }
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Lance)
                </td>
            </tr>
                            }
                        }
</table>
